/* .interactions{ */
/*   @apply flex justify-between */
/* } */


.actions-container{
  /* height: 100vh; */
  /* flex: 0 1 40px; */
  @apply w-full flex justify-between
}

.text-icon-container{
  background: none;
  @apply flex items-center opacity-70
}


.actions-container button:hover {
  background: rgba(105, 146, 155, 0.2);
  border-radius: 0.2rem;
  @apply opacity-100
}

.actions-container p {
  @apply ml-1.5
}

.text-icon-container  img {
  @apply w-6
}

section {
  @apply p-4
}

h1 {
  display: none;
  @apply text-5xl text-center
}

@media (min-width: 70em) {

.measurement-displays {
  @apply flex flex-row justify-between mx-40
}



section {
  @apply flex flex-col-reverse justify-between h-screen p-16
}

h1 {
    @apply block
  }
}
