<section *ngIf="data$ | async as data">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-container">

    <div class="logo">
      Home Analytics
    </div>
    <div class="form-input-container">
      <label>Username</label>
      <input type="text" formControlName="username">
      <!-- <label i18n class="val-label" *ngIf="message?.invalid && message?.touched"> -->
      <!--   Message cannot me empty -->
      <!-- </label> -->
    </div>
    <div class="form-input-container">
      <label>Password</label>
      <input type="password" formControlName="password">

    </div>
    @if(data.errors) {
    <p class="validation-error">{{data.errors}}</p>
    }
    <button class="login-button" type="submit" [disabled]="data.isSubmitting">
      <p *ngIf="!data.isSubmitting">log in</p>
      <div *ngIf="data.isSubmitting" class="loader"></div>
    </button>
  </form>
</section>
