.auth-container {
  translate: -50% -50%;
  @apply w-9/12  absolute top-1/2 left-1/2
}

.auth-container  label {
  @apply  mr-1 mb-1 text-sm text-off-black-text
}

.auth-container input {
  @apply rounded-sm mb-2 py-1 bg-creamy-yellow-background
}

.form-input-container:last-of-type {
  @apply mb-6
}

.form-input-container {
  @apply flex flex-col
}

.login-button {
  width: 100%;
  @apply bg-primary-button text-white h-10
}

.logo{
  @apply mb-5 text-xl
}

section {
  /* min-height: 95vh; */
  /* background: white; */

}

.loader {
    animation: loading-animation 1s ease infinite;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    @apply pointer-events-none w-7 h-7 mx-auto
}
@keyframes loading-animation {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
}

@media (min-width: 50em) {

  .auth-container{
  @apply w-80 p-8 rounded-sm bg-creamy-yellow-background
  }

  .auth-container  input {
    /* background: black; */
    /* @apply rounded-sm mb-2 py-1 */
    @apply bg-input-label-on-creamy-yellow
  }
}

