<div class="display-container">
  <p class="data-title">{{dataCollection().name}}</p>
  <!-- <div class="data-graph"> -->
  <div #graph class="data-graph "> </div>

  <!-- </div> -->
  <div class="data-properties-container">
    <!-- <p>{{dataCollection().measurements.length}}</p> -->
    <!-- <p>{{dataCollection().isFetching}}</p> -->
    <!-- <p>{{thing().isFetching}}</p> -->
    <!-- <p>{{isFetching}}</p> -->
    <div>

      <p>Min: <span class="statistic-value">{{min()}}</span></p>
      <p>Max: <span class="statistic-value">{{max()}}</span></p>
      <p>Avg: <span class="statistic-value">{{avg()}}</span></p>
    </div>
    <div class="current-container">

      <h2 class="current-label">Current: </h2>
      <span class="current-value">{{current()}}</span>
    </div>
  </div>
</div>
